@model ConnectedDot.ViewModels.SkillsViewModel

@{
    ViewBag.Title = "Future Skills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="container col-lg-12">

        <table class="table">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Category
                </th>
                <th>
                    Level
                </th>
                <th>
                    Notes
                </th>
            </tr>

            @foreach (var item in Model.ListOfSkills)
            {
                <tr>
                    <td class="col-lg-4">
                        <span>@item.Name</span>
                    </td>
                    <td class="col-lg-4">
                        <span>@item.Category</span>
                        @*@Html.DisplayFor(modelItem => item.Category.Name)*@
                    </td>
                    <td class="col-lg-2">
                        @for (int i = 0; i < item.Level; i++)
                        {
                            <span class="glyphicon glyphicon-star"></span>
                        }
                        @for (int i = 0; i < 5 - item.Level; i++)
                        {
                            <span class="glyphicon glyphicon-star-empty"></span>
                        }
                        <span class="glyphicon glyphicon-plus-sign"></span>
                    </td>
                    <td class="col-lg-2">
                        @if (item.Notes != null)
                        {
                            <span class="glyphicon glyphicon-comment"></span>
                        }

                    </td>
                </tr>
            }
        </table>


    </div>

</div>




